<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}



  <h1>Это верстка от Мулланура</h1>


    <ul>
        <li>BMV</li>
        <li>Mersedec</li>
        <li>etc</li>
    </ul>



  </body>
</html>
