.header{
    background: #00BCD4;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    z-index: 1;
    position: relative;


}


.header > .columns > h4 {

    color: white;

}


.header > .columns > * {

    padding-left: 17px;
    margin-top: 20px;



}


.custom_three_columns {


    margin-left: 65px;


}
.custom_row {
    min-height: 430px;

}

#map {
    position: absolute;
    width: 100%;
    height: 100%;

}


.pressenter {
    margin-left: 70px;



}

.title_enter {
    margin-left: 75px;



}